.form {
    font-size: 20px;
    font-family: sans-serif;
}

.icon-header {
    text-align: right;
    display: flex;
    gap: 15px;
    justify-items: right;
}

.text-header {
    text-align: center;
    
}

h1 {
    font-size: 20px;
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

.icon-header {
    font-size: 18px;
    font-family: sans-serif;
    font: bold
    
}

.logo {
    width: 50px;
    box-shadow: 1px 1px 10px 1px #F47521;
    border-radius: 6px;
    margin-top: 14%;

}

.profile-picture {
    width: 30%;
    margin: 20px;
    box-shadow: 1px 1px 10px 1px grey;
    border-radius: 10px;
    
}