.form {
    font-size: 20px;
    font-family: sans-serif;
}
body {
    margin: 0%;
    background-color: #fff;
}
.header {
    background-color: #0a0a23;
    color: #fff;
    border-bottom: 4px solid #F47521;
}
.right-content {
    gap: 20px;
    text-align: right;
    margin-top: -65px;
    margin-right: 20px;
    display: flex;
    justify-content: right;
    transform: translateY(-4px);
    
}

.text-header {
    font-size: 30px;
    text-align: center;
    margin-top: -60px;
    font: bold;
}

.h1 {
    font-size: 20px;
}

.footer {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    background-color: #0a0a23;
    padding: 1px;
    color: #fff;
    border-top: 4px solid #F47521;

}
.logo {
    width: 50px;
    box-shadow: 1px 1px 10px 2px #F47521;
    border-radius: 6px;
    margin: 10px;
}
.profile-picture {
    width: 30%;
    margin: 50px;
    box-shadow: 1px 1px 10px 1px grey;
    border-radius: 10px;
    
}
a{
    color: cornflowerblue;
}
a:visited {
    color: cornflowerblue;
}
a:hover {
    color: brown;
}
a:active {
    color: brown;
}